extends ./layout.jade
block contenido
    
    if registro
        h1 #{info}
        br
        br
        h4 Datos Personales, no COMPARTIR SEGUIMIENTO
        br
        h5 Nombre: #{datos[0]}
        br
        h5 Username: #{datos[1]}
        br
        h5 Dni: #{datos[2]}
        br
        h5 Seguimiento: #{datos[3]}
    if authorised
        h1 #{info}
        h3 Hay dos fotos una que podes subir y otra no
        br
        br
        h5 Foto Principal (No Publicar Seguimiento == Password)
            img.className#IdName(src="#{img[0]}" alt="AdorDni")
        br
        br 
        h5 Foto Para subir a las redes
            img.className#IdName(src="#{img[1]}" alt="AdorDni")