extends ./layout.jade
block contenido
    
    if registro
        h1 #{info}
        br
        br
        h4 Datos Personales, no COMPARTIR SEGUIMIENTO
        br
        h5 Nombre: #{datos[0]}
        br
        h5 Username: #{datos[1]}
        br
        h5 Dni: #{datos[2]}
        br
        h5 Seguimiento: #{datos[3]}
    if authorised
        h1 #{info}
        br
        h4 Datos Personales, no COMPARTIR SEGUIMIENTO
        br
        h3 Constraseña: #{seg}
        br
        h5 Foto Principal
        br
        img.className#IdName(src="#{img}" alt="AdorDni")
        br
        br 
    if !authorised
        h1 #{info}