extends ./layout.pug
block contenido
    
    if registro
        h1 #{info}
        br
    if authorised
        h1 #{info}
        br
        h4 Datos Personales, no COMPARTIR SEGUIMIENTO
        br
        h3 Constraseña: #{seg}
        br
        h5 Foto Principal
        br
        img.className#IdName(src=img alt="AdorDni")
        br
        br 
    if !authorised
        h1 #{info}